.lightbulb-container {
  position: relative;
  display: flex;
  width: 1.9vw;
  align-items: start;
}

.lightbulb-icon {
  width: 100%;
  height: 100%;
}

.lightbulb-icon:hover {
  cursor: pointer;
}

.lightbulb-number {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5vw;
  font-weight: bold;
  color: black;
}
