:root {
  --ü-color: #000;
  --hover-bg: lightgrey;
}

body.dark-mode {
  --ü-color: #f0f0f0;
  --hover-bg: #444;
}

.container-plus-right-start {
  width: 90%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "line1 plus line2";
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  margin: calc(var(--step-font-size, 1vw) * 0.5) 0;
}

.container-plus-right-start:hover {
  opacity: 1;
}

.straightline-left,
.straightline-right {
  height: 1px;
  width: 100%;
  background-color: var(--ü-color);
  transition: background-color 0.3s ease;
}

.plusbetweensteps {
  grid-area: plus;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.container-plus-right-start:hover .plusbetweensteps:hover {
  background-color: lightgrey;
  cursor: pointer;
}
