.container-for-triplets {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-for-triplets.vertical {
  flex-direction: column;
  gap: 4px;
}

.Filetext-tree {
  display: flex;
  align-items: center;
  width: calc(var(--step-font-size, 1vw) * 1);
  height: calc(var(--step-font-size, 1vw) * 1);
}

.Filetext-tree:hover {
  fill: lightgray;
  cursor: pointer;
}
