.container-for-triplets {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Filetext-tree:hover {
  fill: lightgray;
  cursor: pointer;
}

.Check-tree:hover {
  fill: lightgray;
  cursor: pointer;
}
