.container-for-triplets {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Filetext-tree:hover {
  fill: lightgray;
  cursor: pointer;
}

.Check-tree:hover {
  fill: lightgray;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay-content {
  background: #fff;
  border-radius: 4px;
  position: relative;
  max-width: 20%;
  height: auto;
}

.close-button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  color: black;
  top: 0;
  right: 0;
  padding-right: 0.5vw;
  padding-top: 0.5vw;
}

.close-button:hover {
  color: grey;
}

.editable-textarea {
  width: 100%;
  margin-top: 0.5vw;
  font-size: 1vw;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 10;
  border: 1px solid lightgrey;
  color: black;
  resize: none;
  overflow-y: auto;
  border-radius: 4px;
  height: 15vw;
}

.save-button-div {
  font-size: 1vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
}

.save-button {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2vw;
  width: 5vw;
  border: 1px solid grey;
}

.step-number-title {
  font-weight: bold;
  font-size: 1.5vw;
}
