:root {
  --border-color: rgb(0, 0, 0);
  --header-height: 10vh;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  padding: 0 2vw;
}

/* Logo */
.header-left .logo-image {
  display: flex;
  align-items: center;
  height: 5vh;
}

/* Navigation (for larger screens) */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  gap: calc(50vw / 3);
  color: black;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: black;
  font-size: 1.5vw;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: grey;
}

/* User Profile */
.user-profile a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: black;
  font-size: 4vh;
  text-decoration: none;
  transition: color 0.3s ease;
}

.user-profile a:hover {
  color: grey;
}

/* Hamburger Menu (default hidden) */
.hamburger {
  display: none;
  cursor: pointer;
}

.container-for-besties {
  display: flex;
  align-items: center;
}
/* Mobile Styles */
@media (max-width: 768px) {
  /* Hamburger Menu */
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: black;
    font-size: 4vh;
    z-index: 1010; /* Ensure it's on top */
  }

  .hamburger:hover {
    color: grey;
  }

  /* Hide regular nav-links on mobile */
  .nav-links {
    display: none;
  }

  /* Dropdown Navigation */
  .header-nav {
    position: absolute;
    top: var(--header-height);
    right: 0;
    width: 100vw;
    background-color: #fff; /* Ensure the background is white */
    border-top: 1px solid var(--border-color);
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 100000;
  }

  .header-nav.show {
    display: flex;
    flex-direction: column;
  }

  /* Make sure each menu item has a background */
  .nav-links.show {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 0;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    background-color: #fff; /* Ensures each item has a white background */
  }

  .nav-links a {
    width: 100%;
    font-size: 2.15vh;
    text-decoration: none;
    color: black;
    flex-shrink: 0;
  }
}

@media (max-width: 325px) {
  .header-left .logo-image {
    display: none;
  }

  .container-for-besties {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
