.overlay-content-login {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.login-button-container {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.login-button:hover {
  background-color: darkblue;
}

@media (max-width: 700px) {
  .overlay-content-login {
    padding: 1.5rem; /* Reduce padding */
    max-width: 50%; /* Reduce modal width */
    height: 55vw;
  }

  .login-button {
    width: 80px; /* Make button smaller */
    height: 26px;
    font-size: 1.8vw;
  }

  .login-footer {
    font-size: 3vw;
  }

  .login-title {
    font-size: 5vw;
    margin: 0px;
  }

  @media (max-width: 430px) {
    .login-button {
      font-size: 3vw;
    }
  }

  @media (max-width: 300px) {
    .overlay-content-login {
      height: 110vw;
    }

    .login-button {
      width: 80px; /* Make button smaller */
      height: 26px;
      font-size: 5vw;
    }

    .login-footer {
      font-size: 5vw;
    }

    .login-title {
      font-size: 10vw;
      margin: 0px;
    }
  }
}
