.container {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 20vw 10px auto;
  grid-template-areas: "left-side separator right-side";
  color: black;
  align-items: center;
}

.custom-line {
  grid-area: separator;
  display: flex;
  justify-content: center;
  width: 1px;
  height: inherit;
  background-color: black;
  align-self: center;
}

/* Right Side */
.right-side {
  grid-area: right-side;
  width: 100%;
  justify-content: center;
}

.right-side .container-fluid {
  width: 100%;
}
