:root {
  --color-fade-problem: rgba(255, 255, 255, 0.8);
}

body.dark-mode {
  --color-fade-problem: rgba(0, 0, 0, 0.8);
}

/* Left Side*/
.left-side {
  grid-area: left-side;
  display: flex;
  width: 100%;
  height: calc(100vh - var(--header-height));
}

.left-side-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin: 0;
}

.custom-line-left-side {
  width: 100%;
  height: 1px;
  background-color: black;
}

.left-side-content {
  display: grid;
  grid-template-rows: 40px calc(50% - 40.5px) 1px 40px calc(50% - 40.5px);
  grid-template-areas: "defaultTitle" "default1" "seperator" "customTitle" "custom";
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.default-problems-parent {
  grid-area: default1;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: block;
  margin: -30px 0;
}

.default-problems-parent::before,
.default-problems-parent::after,
.custom-problems-parent::before,
.custom-problems-parent::after {
  content: "";
  position: sticky;
  display: block;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    var(--color-fade-problem),
    transparent
  );
}

/* Top blur */
.default-problems-parent::before,
.custom-problems-parent::before {
  top: 0;
}

/* Bottom blur */
.default-problems-parent::after,
.custom-problems-parent::after {
  bottom: 0;
  background: linear-gradient(to top, var(--color-fade-problem), transparent);
}

.default-problems {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.custom-line-problem {
  grid-area: seperator;
  margin: 0;
  border-style: solid;
  margin-block: 0;
  margin-inline: 0;
  unicode-bidi: normal;
  border-width: 0;
  background-color: var(--text-color);
  height: 1px;
}

.custom-problems-parent {
  grid-area: custom;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: block;
  margin: -30px 0;
}
.custom-problems {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.default-problem-title,
.custom-problem-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  border-bottom: 1px solid var(--text-color);
}

.default-problem-title {
  grid-area: defaultTitle;
  height: 100%;
}

.custom-problem-title {
  grid-area: customTitle;
  justify-content: space-evenly;
  height: calc(100% - 1px);
}

.plus-custom-problems:hover {
  transition: 0.3s color ease;
}

.plus-custom-problems:hover {
  cursor: pointer;
  color: grey;
}

/* Separator */
.container-separator-problem {
  width: 100%;
  height: 100%;
  display: flex;
}

.general-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 150px;
  height: 50px;
  font-weight: normal;
  background-color: lightgrey;
  border: 1px solid black;
  color: black;
  font-size: 15px;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-transform: none;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.general-button:hover {
  background-color: darkgrey;
  border: 1px solid black;
  color: black;
}

.general-button.activeA {
  background-color: grey;
  border: 1px solid black;
  color: black;
  background-color: yellow;
}

.general-button.activeB {
  background-color: grey;
  border: 1px solid black;
  color: black;
  background-color: grey;
}
