.problem-details-container {
  display: grid;
  grid-template-rows: 5vw 1px auto;
  grid-template-areas: "top" "center" "bottom";
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.problem-title {
  all: unset;
  grid-area: top;
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}

.problem-text {
  grid-area: bottom;
  white-space: pre-wrap;
  font-size: 1vw;
  margin: 0;
}
