.problem-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1em;
}

.problem-title {
  margin: 0 0 1em 0;
  font-size: 3vw;
  font-weight: bold;
}

.problem-text {
  white-space: pre-wrap;
  font-size: 1vw;
}
