/*.project-files {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.project-files h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.controls {
  margin-bottom: 15px;
}

.controls button {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #e0e0e0;
  border: none;
  border-radius: 3px;
}

.controls button:hover {
  background-color: #d0d0d0;
}

.file-tree ul {
  list-style-type: none;
  margin-left: 20px;
  padding-left: 0;
}

.file-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.file-item span {
  cursor: pointer;
  padding: 3px 5px;
  transition: background-color 0.2s;
}

.file-item span.file:hover,
.file-item span.folder:hover {
  background-color: #f0f0f0;
}

.file-item button {
  margin-left: 5px;
  padding: 2px 5px;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #e0e0e0;
  border: none;
  border-radius: 3px;
}

.file-item button:hover {
  background-color: #d0d0d0;
}

.folder {
  font-weight: bold;
}
*/
.project-files {
  width: 100%;
}

.head-projectsys-left-start {
  display: flex;
  flex-direction: row;
  padding-left: 1vw;
  width: 100%;
  align-items: center;
  gap: 1vw;
  height: 3vw;
}

.Title-text {
  font-weight: bold;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
}

.controls {
  flex-direction: row;
  display: flex;
  gap: 0.25vw;
}

.icon {
  font-size: 0.8vw;
  display: flex;
  align-items: center;
}

.file-tree {
  padding-top: 2vw;
}

.file-tree ul {
  padding-left: 2vw; /*padding of 2 because the list dots are not in ul*/
  overflow: auto;
}

.file-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: end;
  gap: 1vw;
  height: 2vw;
  padding-left: 0.5vw;
}

.file-item:hover {
  background-color: lightgrey;
}
