.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top-section,
.bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resizer {
  height: 4px;
  background: black;
  cursor: ns-resize;
  user-select: none;
}

.bottom-section {
  background-color: white;
  color: black;
  width: 100%;
  display: grid;
  grid-template-columns: 5vw 1px 1fr;
  grid-template-areas: "Left Separator Right";
  justify-content: start;
}

.icon-terminal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 4vh;
  justify-content: center;
  gap: 20%;
  align-items: center;
  grid-area: Left;
  overflow: hidden;
}

.simple-line {
  grid-area: Separator;
  background-color: black;
  color: black;
  height: 100%;
  width: 100%;
}

.bottom-terminal-start {
  grid-area: Right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3rem;
  box-sizing: border-box;
  align-items: start;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.bottom-section input {
  border: none;
  margin: 0;
  outline: none;
  background-color: transparent;
  color: black;
  width: 100%;
  font-size: 1vw;
}

.terminal {
  font-size: 1vw;
  white-space: pre-line;
  padding-bottom: 1rem;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
}
