.container-main {
  display: flex;
  flex-direction: row;
  color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Left column, middle column, right column basic styling */
.left-column,
.middle-column,
.right-column {
  width: 100%;
}

/* Divider styling */
.divider {
  width: 5px;
  cursor: col-resize;
  background-color: #000;
}
