.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-section,
.bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: auto;
  background-color: var(--main-background);
  color: var(--text-color);
}

.resizer {
  height: 3px;
  background: var(--divider-color);
  cursor: ns-resize;
  user-select: none;
}

.resizer:hover {
  background: darkslategray;
}

.bottom-section {
  display: grid;
  grid-template-columns: 5vw 1px 1fr;
  grid-template-areas: "Left Separator Right";
  width: 100%;
  background-color: var(--main-background);
  color: var(--text-color);
}

.icon-terminal {
  grid-area: Left;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  gap: 20%;
  align-items: center;
  overflow: hidden;
  background-color: var(--header-background);
  color: var(--text-color);
}

.simple-line {
  grid-area: Separator;
  background-color: var(--border-color);
  width: 100%;
  height: 100%;
}

.bottom-terminal-start {
  grid-area: Right;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--main-background);
  color: var(--text-color);
}

.bottom-section input {
  border: none;
  margin: 0;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  width: 100%;
  font-size: 1vw;
}

.terminal {
  font-size: 1vw;
  white-space: pre-line;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  word-break: break-all;
  color: var(--text-color);
  background-color: var(--main-background);
}

.play-icon {
  color: var(--text-color);
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.play-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.icons-for-terminal:hover {
  fill: var(--link-hover-color);
}

.xterm-screen {
  width: 100% !important;
  background-color: var(--header-background);
  word-break: break-all;
  overflow-x: hidden;
  color: var(--text-color);
}

.xterm .xterm-viewport {
  overflow: hidden;
  background-color: var(--header-background) !important;
}
