.container-main {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.right-main {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
