.Right-Side-main {
  display: flex;
  width: 100%;
  height: 100%;
}

.right-sidecontent-main {
  display: grid;
  grid-template-rows: 3vw auto 8vw 0px;
  grid-template-areas: "Header" "Body" "Footer" "Else";
  width: 100%;
  height: 100%;
}

.right-header-main {
  grid-area: Header;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  font-size: 0.8vw;
}

.right-main-main {
  grid-area: Body;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.level1-box {
  border: 1px solid #000; /* rectangle border */
  padding: 10px;
  margin-bottom: 10px;
}

.step-description {
  font-weight: bold;
}

.substeps {
  margin-left: 20px;
  margin-top: 5px;
}

.step-sub-description {
  font-style: italic;
  margin-bottom: 3px;
}

.right-text-main {
  grid-area: Footer;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.input-container {
  position: relative;
  width: 80%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}

.text-input {
  width: 100%;
  min-height: 2vh;
  max-height: 10vh;
  padding: 1vw;
  padding-right: 2.5vw;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1vw;
  color: black;
  background-color: white;
  outline: none;
  resize: none;
  overflow-y: scroll;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1;
  vertical-align: middle;
}

.text-input::placeholder {
  color: #888;
  font-size: 1vw;
  line-height: normal;
  opacity: 0.8;
}

.submit-icon {
  position: absolute;
  right: 1.5vw;
  padding-bottom: 0.2vw;
  transform: translateY(-50%);
  font-size: 1.2vw;
  color: #007bff;
  cursor: pointer;
}

.submit-icon:hover {
  color: #00356e;
}
