.left-main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.left-content-main {
  display: grid;
  grid-template-rows: 3vw auto;
  grid-template-areas: "header" "main";
  width: 100%;
}

.class-created-for-seperator {
  display: flex;
  flex-direction: column;
}

.header-left-main {
  grid-area: header;
  height: 100%;
  display: grid;
  grid-template-areas: "Left Sep1 Middle Sep2 Right";
  grid-template-columns: 1fr 1px 1fr 1px 1fr;
}

.custom-separator-for-start-purpose {
  grid-area: Sep1, Sep2;
  height: 100%;
  width: 1px;
  background-color: black;
}

.Project-system-files {
  grid-area: Left;
  font-size: 0.8vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Problem-description-main {
  grid-area: Middle;
  font-size: 0.8vw;
  height: 100%;

  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Building-blocks {
  grid-area: Right;
  font-size: 0.8vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-line-horizontal {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1px;
  background-color: black;
  align-self: center;
}

.all-type-of-content {
  grid-area: main;
  display: flex;
  font-size: 0.8vw;
}

.custom-line-leftmiddle {
  display: flex;
  justify-content: center;
  width: 1px;
  height: 100%;
  background-color: black;
  align-self: center;
}

.invisible-button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  transition: background-color 0.2s;
}
.invisible-button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Light grey highlight on hover */
}

.container-problem-left {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100vh - var(--header-height) - 3vw);
}

.problem-text-left {
  grid-area: bottom;
  white-space: pre-wrap;
  font-size: 1vw;
  padding: 1vh;
}

.problem-title-left {
  font-weight: bold;
  padding-top: 1vh;
  font-size: 2vw;
  display: grid;
  grid-template-columns: 1fr 2vw;
  grid-template-areas: "Main hamburger";
  justify-content: center;
  align-items: center;
}

.title-left-problem-start {
  grid-area: Main;
  padding-left: 1vh;
}

.Hamburger-left-start {
  font-size: 1vw;
  grid-area: hamburger;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.Hamburger-left-start:hover {
  color: rgb(99, 14, 14);
  cursor: pointer;
}

.dropdown-menu {
  top: 100%;
  right: 30%;
  font-weight: normal;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 6.5vw;
  overflow-y: auto;
  border: 1px solid black;
}

.dropdown-item {
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
