.welcome-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.container-fluid {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-1,
.body-2 {
  width: 80vw;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: flex-start;
  padding-top: 5%;
}

.body-2 {
  justify-content: flex-end;
}

.First-div,
.Second-div,
.Third-div,
.Fourth-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

.Second-div,
.Fourth-div {
  justify-content: flex-end;
}

.body-1 img,
.body-2 img {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.First-text,
.Second-text,
.Third-text,
.Fourth-text {
  font-size: 2vw;
}

/*Review part*/
.container-review hr {
  width: 90%;
  border: 1px light black;
}
